/*hide web browser scrollbar in every componet*/
::-webkit-scrollbar {
    display: none;
}

.ppc-treegrid ul,
.ppc-treegrid li
{
    font-size: 20px;
    /*background: grey;*/
    /*border-bottom: 1px solid grey;*/
    width: 100%;
    padding: 0;
    padding: 5px 20px;
    margin: 0;
    list-style: none;
}

.ppc-treegrid input
{
    position: absolute;
    opacity: 0;
}

.ppc-treegrid
{
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ppc-treegrid a
{
    color: #263343;
    text-decoration: none;
}

.ppc-treegrid a:hover
{
    text-decoration: underline;
}

.ppc-treegrid input + label + ul
{
    margin: 0 0 0 22px;
}

.ppc-treegrid input ~ ul
{
    display: none;
}

.ppc-treegrid label
{
    cursor: pointer;
}

.ppc-treegrid input:disabled + label
{
    cursor: default;
    opacity: .6;
}

.ppc-treegrid input:checked:not(:disabled) ~ ul
{
    display: block;
}

.ppc-treegrid label,
.ppc-treegrid a
{
    background: url("../img/collapse-icon.png") no-repeat;
    background-size: 16px;
}

.ppc-treegrid label,
.ppc-treegrid a
{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.ppc-treegrid label
{
    padding-left: 35px;
    background-position: 0 -15px;
}

.ppc-treegrid a
{
  padding-left: 35px;
  background-position: 0 -38px;
}

.ppc-treegrid input:checked + label
{
    background-position: 0 0px;
}

.ppc-treegrid .ppc-treegrid-leaf.active a{
  font-weight: bolder;
  font-style: italic;
  color: rgba(51, 122, 183, 255);
}
